In [8]:
import pandas as pd
import numpy as np
import datetime
from faker import Faker

ModuleNotFoundError: No module named 'faker'

In [5]:
dft = pd.DataFrame({'A' : ['spam', 'eggs', 'spam', 'eggs'] * 6,
                   'B' : ['alpha', 'beta', 'gamma'] * 8,
                   'C' : [np.random.choice(pd.date_range(datetime.datetime(2013,1,1),datetime.datetime(2013,1,3))) for i in range(24)],
                   'D' : np.random.randn(24),
                   'E' : np.random.random_integers(0,4,24)})
dft.head()

C:\Users\rakray\AppData\Local\Temp/ipykernel_22348/2641210418.py:5: DeprecationWarning: This function is deprecated. Please call randint(0, 4 + 1) instead
  'E' : np.random.random_integers(0,4,24)})

      A      B          C         D  E
0  spam  alpha 2013-01-01  1.203971  3
1  eggs   beta 2013-01-02  0.076811  1
2  spam  gamma 2013-01-03  0.280431  0
3  eggs  alpha 2013-01-03  0.144405  1
4  spam   beta 2013-01-03 -2.089251  0